body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  text-align: center;
  overflow: hidden;
}

#loginBox, #surpriseBox {
  margin-top: 120px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 220px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 20px;
  background: #ff4081;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#surpriseBox h1 {
  font-size: 40px;
}

#confetti {
  position: fixed;
  top: 0;
  left: 0;
}
